Host *
  IdentityAgent ~/.1password/agent.sock
  ServerAliveInterval 60
  TCPKeepAlive no
Host sheol
  HostName 10.0.2.10
  User boog
  IdentityAgent ~/.1password/agent.sock
Host sheolInitrd
  HostName 10.0.2.10
  Port 2222
  User root
  IdentityAgent ~/.1password/agent.sock
Host abaddon
  HostName 10.0.2.11
  User boog
  IdentityAgent ~/.1password/agent.sock
Host abaddonInitrd
  Hostname 10.0.2.11
  Port 2222
  User root
  IdentityAgent ~/.1password/agent.sock
Host github
  HostName github.com
  User git
  IdentityFile ~/.ssh/personal_ed25519.pub
  IdentitiesOnly yes
Host alcon
  HostName github.com
  User git
  identityFile ~/.ssh/alcon_ed25519.pub
  IdentitiesOnly yes
